extends layout

block content
  p.center.align Your paste URL is:
  p.center-align
    - var url = 'http://localhost:3000/bins/' + paste.uniqueID
    a(href=url) #{url}
  if paste.created_by == 'Public'
    p.center-align
      | You cannot edit this paste. Please 
      a(href='/users/login') login
      |  to edit your paste
  else
    p #{paste.created_by}
  .divider
  h1 #{paste.title}
  p #{paste.description}
  .divider